.ContactForm {
    margin: 20px auto;
    border: 1px solid black;
    box-shadow: 3px 5px 5px grey;
    padding-top: 25px;
    text-align: center;
    box-sizing: border-box;
    width: 40%;
}

@media (max-width: 768px) {
    .ContactForm {
        width: 80%;
    }
}